<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">

  <menuitem name="warehouse-foods-root" title="Warehouse" order="-108" if=""
    icon-background="#2fa042"/>

  <menuitem name="product-warehouse-foods-root" parent="" title="Products"
    action="warehouse.product.root" order="1"/>

  <action-view name="warehouse.product.root" title="Products"
    model="com.axelor.apps.warehouse.db.WarehouseProduct">
    <view type="grid" name="warehouse-product-grid"/>
    <view type="form" name="warehouse-product-form"/>
  </action-view>

  <menuitem name="warehouse-foods-customer-root" parent="" title="Customers"
    action="warehouse.customer.root" order="1"/>

  <action-view name="warehouse.customer.root" title="Customer"
    model="com.axelor.apps.warehouse.db.WarehouseCustomer">
    <view type="grid" name="warehouse-customer-grid"/>
    <view type="form" name="warehouse-customer-form"/>
  </action-view>

  <menuitem name="warehouse-container-root" parent="" title="Container"
    action="warehouse.container.root" order="1"/>

  <action-view name="warehouse.container.root" title="Container"
    model="com.axelor.apps.warehouse.db.Container">
    <view type="grid" name="warehouse-container-grid"/>
    <view type="form" name="warehouse-container-form"/>
  </action-view>

  <menuitem name="warehouse-invoice-root" parent="" title="Invoice"
    action="warhouse.invoice.root" order="1"/>

  <action-view name="warhouse.invoice.root" title="Invoice"
    model="com.axelor.apps.warehouse.db.WarehouseInvoice">
    <view type="grid" name="warehouse-invoice-grid"/>
    <view type="form" name="warehouse-invoice-form"/>
  </action-view>

  <menuitem name="warehouse-foods-config-root" parent="warehouse-foods-root"
    title="Configuration" order="100"/>

  <menuitem name="warehouse-foods-product-unit-root" parent="warehouse-foods-config-root"
    title="Products Unit" action="warehouse.product.unit.root" order="1"/>

  <action-view name="warehouse.product.unit.root" title="Products Unit"
    model="com.axelor.apps.warehouse.db.ProductUnit">
    <view type="grid" name="warehouse-product-unit-grid"/>
    <view type="form" name="warehouse-product-unit-form"/>
  </action-view>

  <menuitem name="warehouse-customer-address-root" parent="warehouse-foods-config-root"
    title="Customer Address" action="warhouse.customer.address.root" order="2"/>

  <action-view name="warhouse.customer.address.root" title="Customer Address"
    model="com.axelor.apps.warehouse.db.CustomerAddress">
    <view type="grid" name="warehouse-customer-address-grid"/>
    <view type="form" name="warehouse-customer-address-form"/>
  </action-view>


  <!-- configuration -->

  <menuitem name="sc-root-warehouse-sign-now-conf-arp" parent="warehouse-foods-root"
    title="SignNow Config" order="45" icon="fa-cog"/>

  <menuitem name="warehouse-sign-now-token-config"
    parent="sc-root-warehouse-sign-now-conf-arp" title="SignNow Token"
    action="warehouse.sign.now.token" order="2"/>

  <action-view name="warehouse.sign.now.token" title="SignNow Token"
    model="com.axelor.apps.warehouse.db.SignNowConfig">
    <view type="grid" name="inv-sign-now-token-config-grid"/>
    <view type="form" name="inv-sign-now-token-config-form"/>
  </action-view>

</object-views>
